SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,.onrender.com
CSRF_TRUSTED_ORIGINS=https://your-app.onrender.com
DATABASE_URL=postgres://USER:PASSWORD@HOST:5432/DATABASE

DEFAULT_FROM_EMAIL=LumoPay <no-reply@lumopay.example>
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

FLW_PUBLIC_KEY=
FLW_SECRET_KEY=
FLW_WEBHOOK_SECRET=
FLW_BASE_URL=https://api.flutterwave.com/v3
FLW_DIRECT_TRANSFER_BASE_URL=https://developersandbox-api.flutterwave.com
FLW_ENVIRONMENT=sandbox

SMS_PROVIDER=
SMS_API_KEY=
SMS_SENDER_ID=LumoPay
ALLOW_MANUAL_DEPOSITS=False
